.fLogin{}
.fLogin .fLogin_title{height: 3rem;background: url("../images/bgz.png") no-repeat center;background-size: auto 1.5rem;}
.fLoginForm{padding: 1rem 0.3rem;}
.fLoginForm .input_b{height: 0.8rem;line-height: 0.8rem;border-bottom: 1px solid #dddddd;margin-bottom: 0.3rem;}
.fLoginForm .input_b input{display: block;width: 100%;height: 0.8rem;text-indent: 1em;color: #999;}
.fLoginForm .fLoginSubmit{width: 100%;height: 1rem;border:1px solid #ddd;border-radius: 2px;text-align: center;line-height: 1rem;font-size: 0.32rem;color: #aaaaaa;margin-top: 1rem;}
.copyright{position: fixed;bottom: 0.2rem;line-height: 0.5rem;text-align: center;font-size: 0.26rem;color: #dddddd;width: 100%;}
.fLogin .loginEd{display: none;}
.fLogin .num{width: 90%;height: 1rem;line-height: 1rem;text-align: center;font-size: 0.4rem;color: #fff;background:#5ac8fa;margin:0 auto;border:1px solid #555;margin-top: 2rem;}
.fLogin .num a{color: #fff;}
.fLogin .num_text{text-align: center;line-height:1rem;color: #666;font-size: 0.3rem;}
.fLogin .checkNum{width: 100%;height: 0.8rem;line-height: 0.8rem;margin:1rem 0;font-size: 0.32rem;color: #5ac8fa;text-align: center;}
.fLogin .checkGo{width: 100%;height: 0.8rem;line-height: 0.8rem;margin:1rem 0;font-size: 0.32rem;color: #5ac8fa;text-align: center;}
.report .post_textarea{margin: 0 auto;}
.report .post_textarea textarea{height:100%;width:100%;font-size: 0.3rem;color: #aaaaaa;line-height:0.5rem;background: none;}
.report .card{padding: 0 0.35rem;line-height: 0.5rem;margin:0.2rem 0;font-size: 0.3rem;color: #aaaaaa;}
.report .reportSubmit{position: fixed;bottom:2rem;left:5%;background: #5ac8fa;width: 90%;margin: 0 auto;height: 1rem;border:1px solid #555;border-radius: 2px;text-align: center;line-height: 1rem;font-size: 0.32rem;color: #fff;margin-top: 1rem;}
.report select{width: 80%;height: 0.8rem;display: block;margin:0.2rem 0 0 0.4rem;border:1px solid #a5a5a5;font-size: 0.3rem;color: #999;text-indent: 1em;}